In [9]:
import pandas as pd

In [10]:
df1= pd.read_excel('Resources/crowdfunding.xlsx')
df2= pd.read_csv('category.csv')
df3= pd.read_csv('subcategory.csv')

In [11]:
crowdfunding_df = df1[['cf_id', 'contact_id', 'company_name', 'blurb', 
                  'goal', 'pledged', 'outcome', 'backers_count', 
                  'country', 'currency', 'launched_at', 'deadline', 'category & sub-category']]
crowdfunding_df[['category','sub-category']]=crowdfunding_df['category & sub-category'].str.split('/', n=1, expand=True)
crowdfunding_df=crowdfunding_df.drop(columns=['category & sub-category'])
crowdfunding_df.head()

C:\Users\swire\AppData\Local\Temp\ipykernel_18492\41435677.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  crowdfunding_df[['category','sub-category']]=crowdfunding_df['category & sub-category'].str.split('/', n=1, expand=True)

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category,sub-category
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,food,food trucks
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,music,rock
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,technology,web
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,music,rock
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,theater,plays

In [12]:
category_df = df2[['category_id', 'category_name']]
category_df.rename(columns={'category_name': 'category'}, inplace=True)
category_df

  category_id      category
0       cat 1          food
1       cat 2         music
2       cat 3    technology
3       cat 4       theater
4       cat 5  film & video
5       cat 6    publishing
6       cat 7         games
7       cat 8   photography
8       cat 9    journalism

In [13]:
subcategory_df = df3[['subcategory_id', 'subcategory_name']]
subcategory_df.rename(columns={'subcategory_name': 'sub-category'}, inplace=True)
subcategory_df

   subcategory_id       sub-category
0        subcat 1        food trucks
1        subcat 2               rock
2        subcat 3                web
3        subcat 4              plays
4        subcat 5        documentary
5        subcat 6     electric music
6        subcat 7              drama
7        subcat 8         indie rock
8        subcat 9          wearables
9       subcat 10         nonfiction
10      subcat 11          animation
11      subcat 12        video games
12      subcat 13             shorts
13      subcat 14            fiction
14      subcat 15  photography books
15      subcat 16   radio & podcasts
16      subcat 17              metal
17      subcat 18               jazz
18      subcat 19       translations
19      subcat 20         television
20      subcat 21       mobile games
21      subcat 22        world music
22      subcat 23    science fiction
23      subcat 24              audio

In [14]:
campaign_df=crowdfunding_df.merge(category_df, on="category", how='left').merge(subcategory_df, on="sub-category", how='left')
campaign_df=campaign_df.drop(columns=['category','sub-category'])
campaign_df

,cf_id,contact_id,company_name,blurb,goal,pledged,outcome,backers_count,country,currency,launched_at,deadline,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100,0,failed,0,CA,CAD,1581573600,1614578400,cat 1,subcat 1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400,14560,successful,158,US,USD,1611554400,1621918800,cat 2,subcat 2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400,142523,successful,1425,AU,AUD,1608184800,1640844000,cat 3,subcat 3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200,2477,failed,24,US,USD,1634792400,1642399200,cat 2,subcat 2
4,1365,2199,Larson-Little,Proactive foreground core,7600,5265,failed,53,US,USD,1608530400,1629694800,cat 4,subcat 4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,2986,3684,Manning-Hamilton,Vision-oriented scalable definition,97300,153216,successful,2043,US,USD,1609221600,1622350800,cat 1,subcat 1
996,2031,5784,Butler LLC,Future-proofed upward-trending migration,6600,4814,failed,112,US,USD,1634274000,1638252000,cat 4,subcat 4
997,1627,1498,Ball LLC,Right-sized full-range throughput,7600,4603,canceled,139,IT,EUR,1636174800,1639116000,cat 4,subcat 4
998,2175,6073,"Taylor, Santiago and Flores",Polarized composite customer loyalty,66600,37823,failed,374,US,USD,1602133200,1618117200,cat 2,subcat 8
999,1788,4939,"Hernandez, Norton and Kelley",Expanded eco-centric policy,111100,62819,canceled,1122,US,USD,1609308000,1629262800,cat 1,subcat 1

In [15]:
campaign_df.rename(columns={'blurb': 'description', 
                            'launched_at': 'launch_date', 
                            'deadline': 'end_date'}, inplace=True)
# Convert data types
campaign_df['goal'] = campaign_df['goal'].astype(float)
campaign_df['pledged'] = campaign_df['pledged'].astype(float)
campaign_df['launch_date'] = pd.to_datetime(campaign_df['launch_date'], unit='s')
campaign_df['end_date'] = pd.to_datetime(campaign_df['end_date'], unit='s')

campaign_df.to_csv('campaign.csv', index=False)

campaign_df.head()

,cf_id,contact_id,company_name,description,goal,pledged,outcome,backers_count,country,currency,launch_date,end_date,category_id,subcategory_id
0,147,4661,"Baldwin, Riley and Jackson",Pre-emptive tertiary standardization,100.0,0.0,failed,0,CA,CAD,2020-02-13 06:00:00,2021-03-01 06:00:00,cat 1,subcat 1
1,1621,3765,Odom Inc,Managed bottom-line architecture,1400.0,14560.0,successful,158,US,USD,2021-01-25 06:00:00,2021-05-25 05:00:00,cat 2,subcat 2
2,1812,4187,"Melton, Robinson and Fritz",Function-based leadingedge pricing structure,108400.0,142523.0,successful,1425,AU,AUD,2020-12-17 06:00:00,2021-12-30 06:00:00,cat 3,subcat 3
3,2156,4941,"Mcdonald, Gonzalez and Ross",Vision-oriented fresh-thinking conglomeration,4200.0,2477.0,failed,24,US,USD,2021-10-21 05:00:00,2022-01-17 06:00:00,cat 2,subcat 2
4,1365,2199,Larson-Little,Proactive foreground core,7600.0,5265.0,failed,53,US,USD,2020-12-21 06:00:00,2021-08-23 05:00:00,cat 4,subcat 4